In [228]:
import pandas as pd
import numpy as np

In [229]:
recipe_count = 4

In [230]:
recipe_list = []
carb_list = []

### pull recipes

In [231]:
# xlsx_path = 'C:\Users\Kevin\DS\Dinner Randomizer\meals.xlsx'
xlsx_path = 'meals.xlsx'
df_meals = pd.read_excel(xlsx_path)

In [232]:
df_meals.head()

   MealID             MealName          Carb  Protein       Veg      Ease
0       1              Falafel         bread      veg  Cucumber  moderate
1       2         Caesar salad         bread  chicken     salad     quick
2       3     Greek pork chops      potatoes     pork     salad     quick
3       4             Stir-fry  rice/noodles      any     mixed     quick
4       5  Spaghetti carbonera       noodles    bacon      peas     quick

### split into sub-lists

In [233]:
df_moderate = df_meals[(df_meals['Ease'] == "moderate") | (df_meals['Ease'] == "complex") | (df_meals['Ease'] == "slow cooker")].reset_index(drop=True)
df_moderate.head()

,MealID,MealName,Carb,Protein,Veg,Ease
0,1,Falafel,bread,veg,Cucumber,moderate
1,13,Fried rice,rice,any,carrots & peas,moderate
2,14,Thai green curry,rice,any,mixed,moderate
3,15,40 clove garlic chicken,potatoes,chicken,any,complex
4,16,Quiche,crust,any,any,complex

In [234]:
df_easy = df_meals[df_meals['Ease'] == "quick"].reset_index(drop=True)
df_easy.head()

,MealID,MealName,Carb,Protein,Veg,Ease
0,2,Caesar salad,bread,chicken,salad,quick
1,3,Greek pork chops,potatoes,pork,salad,quick
2,4,Stir-fry,rice/noodles,any,mixed,quick
3,5,Spaghetti carbonera,noodles,bacon,peas,quick
4,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick

In [235]:
df_fish = df_meals[df_meals['Protein'] == "fish"].reset_index(drop=True)
df_fish

,MealID,MealName,Carb,Protein,Veg,Ease
0,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick
1,7,Salmon pasta,noodles,fish,broccoli/peas,quick
2,11,Fish Tacos,tortillas,fish,avocado,quick
3,18,Creole fish & corn stew,rice,fish,corn,slow cooker

In [236]:
df_veg = df_meals[df_meals['Protein'] == "veg"].reset_index(drop=True)
df_veg

   MealID                    MealName    Carb Protein       Veg         Ease
0       1                     Falafel   bread     veg  Cucumber     moderate
1       8            Black bean bowls    rice     veg   avocado        quick
2      19       Cajun Mixed Bean Soup    rice     veg       any  slow cooker
3      20  Mid East lentils & peppers    rice     veg   peppers  slow cooker
4      27            quinoa primavera  quinoa     veg     mixed        quick

### randomly select 1 moderate/hard recipe

In [237]:
# get recipe count
moderate_ct = df_moderate.shape[0]
moderate_ct

15

In [238]:
rng = np.random.default_rng()
rints = rng.integers(low=0, high=moderate_ct, size=1)
print(df_moderate.loc[rints[0]])

MealID                   22
MealName          jambalaya
Carb                   rice
Protein     chicken/sausage
Veg                 peppers
Ease               moderate
Name: 10, dtype: object

In [239]:
df_moderate.loc[rints[0]].MealID
recipe_list.append(df_moderate.loc[rints[0]].MealID)
recipe_list

[22]

In [240]:
df_this_week = df_meals[df_meals['MealID'] == df_moderate.loc[rints[0]].MealID]
df_this_week

    MealID   MealName  Carb          Protein      Veg      Ease
21      22  jambalaya  rice  chicken/sausage  peppers  moderate

### find the carb of the selected moderate/hard recipe and remove from fish

In [241]:
df_this_week['Carb']

21    rice
Name: Carb, dtype: object

In [242]:
#df_easy = df_easy[df_easy['Carb'] != carb_list[0]]
#df_easy = df_easy[df_easy['Carb'] != df_this_week['Carb']]
#df_easy.head()
#df_easy['Carb'].values != df_this_week['Carb'].values
#df_fish[df_fish['Carb'].values != df_this_week['Carb'].values]
df_fish = df_fish[df_fish['Carb'].values != df_this_week['Carb'].values].reset_index(drop=True)
df_fish

   MealID                   MealName       Carb Protein            Veg   Ease
0       6  Asian chili ginger salmon    noodles    fish  broccoli/peas  quick
1       7               Salmon pasta    noodles    fish  broccoli/peas  quick
2      11                 Fish Tacos  tortillas    fish        avocado  quick

In [243]:
fish_ct = df_fish.shape[0]
fish_ct

3

### select 1 fish recipe

In [244]:
rints = rng.integers(low=0, high=fish_ct, size=1)
#rints[0]
#df_fish.loc[1]
df_fish.loc[rints[0]]

MealID                              6
MealName    Asian chili ginger salmon
Carb                          noodles
Protein                          fish
Veg                     broccoli/peas
Ease                            quick
Name: 0, dtype: object

In [245]:
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_fish.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease
21,22,jambalaya,rice,chicken/sausage,peppers,moderate
5,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick

### remove carb from veg recipes

In [246]:
#df_this_week['Carb'].values
#df_veg['Carb'].values
#df_veg['Carb'].values != df_this_week['Carb'].values
#df_veg['Carb'].isin(df_this_week['Carb'].values)
#condition = df_veg['Carb'].isin(df_this_week['Carb'].values)
#condition
#df_veg[~condition]
#df_veg[~df_veg['Carb'].isin(df_this_week['Carb'].values)]
#df_veg[df_veg['Carb'].values != df_this_week['Carb'].values]
#df_veg = df_veg[df_veg['Carb'].values != df_this_week['Carb'].values]
df_veg = df_veg[~df_veg['Carb'].isin(df_this_week['Carb'].values)]
df_veg

   MealID          MealName    Carb Protein       Veg      Ease
0       1           Falafel   bread     veg  Cucumber  moderate
4      27  quinoa primavera  quinoa     veg     mixed     quick

In [247]:
veg_ct = df_veg.shape[0]
veg_ct

2

### select 1 veg recipe

In [248]:
rints = rng.integers(low=0, high=veg_ct, size=1)
df_veg.loc[rints[0]]

KeyError: 1

In [ ]:
#df_meals[df_meals['MealID'] == df_fish.loc[rints[0]].MealID]
#df_choice = df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID]
#df_choice
#df_this_week = df_this_week.append(df_choice)
#df_this_week.append(df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID])
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID])
df_this_week

### randomly select 1 easy recipe

In [ ]:
rints = rng.integers(low=0, high=easy_ct, size=1)
#rints[0]
df_easy.loc[rints[0]]

In [ ]:
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_easy.loc[rints[0]].MealID])
df_this_week

### if any recipe is null, start over

In [ ]:
df_this_week.shape[0]

In [ ]:
if (df_this_week.shape[0] < recipe_count):
    print("Oops, I need to start over!")
else:
    print(df_this_week['MealName'])

In [ ]:
# print selected recipes

### prompt user to accept recipes

In [ ]:
while True:
    answer = input("Are you happy with this selection? Y or N")
    cap_answer = answer.upper()
    if (cap_answer == 'Y') or (cap_answer == 'N'):
        break

In [ ]:
# if a recipe is rejected, 
#   1. if moderate/hard receipe rejected, prompt user if prefer an easy one
#   2. recreate new list (so the rejected carb can be selected again) and select another random recipe

In [ ]:
# after 3 recipes generated and accepted, print shopping list