In [21]:
import pandas as pd
import numpy as np

In [100]:
recipe_list = []

### pull recipes

In [5]:
# xlsx_path = 'C:\Users\Kevin\DS\Dinner Randomizer\meals.xlsx'
xlsx_path = 'meals.xlsx'
df_meals = pd.read_excel(xlsx_path)

In [6]:
df_meals.head()

,MealID,MealName,Carb,Protein,Veg,Ease
0,1,Falafel,pita,beans,Cucumber,moderate
1,2,Caesar salad,NaN,chicken,salad,quick
2,3,Greek pork chops and salad,potatoes,pork,salad,quick
3,4,Stir-fry,rice/noodles,any,mixed,quick
4,5,Spaghetti carbonera,noodles,egg/bacon,peas,quick

In [35]:
df_meals.dtypes

MealID       int64
MealName    object
Carb        object
Protein     object
Veg         object
Ease        object
dtype: object

### split into 2 lists: moderate/hard and easy

In [8]:
df_meals[df_meals['Ease'] == "moderate"]

,MealID,MealName,Carb,Protein,Veg,Ease
0,1,Falafel,pita,beans,Cucumber,moderate
12,13,Fried rice,rice,any,carrots & peas,moderate
13,14,Thai green curry,rice,any,mixed,moderate
21,22,jambalaya,rice,chicken/sausage,peppers,moderate
22,23,Puerto Rican Rice,rice,pork,peppers,moderate
25,26,pad see ew,noodles,chicken,broccoli/peas,moderate
27,28,Risotto,rice,NaN,peas,moderate

In [15]:
df_moderate = df_meals[(df_meals['Ease'] == "moderate") | (df_meals['Ease'] == "complex") | (df_meals['Ease'] == "slow cooker")].reset_index()
df_moderate.head()

,index,MealID,MealName,Carb,Protein,Veg,Ease
0,0,1,Falafel,pita,beans,Cucumber,moderate
1,12,13,Fried rice,rice,any,carrots & peas,moderate
2,13,14,Thai green curry,rice,any,mixed,moderate
3,14,15,40 clove garlic chicken,potatoes,chicken,any,complex
4,15,16,Quiche,crust,any,any,complex

In [55]:
df_easy = df_meals[df_meals['Ease'] == "quick"]
df_easy.head()

,MealID,MealName,Carb,Protein,Veg,Ease
1,2,Caesar salad,NaN,chicken,salad,quick
2,3,Greek pork chops and salad,potatoes,pork,salad,quick
3,4,Stir-fry,rice/noodles,any,mixed,quick
4,5,Spaghetti carbonera,noodles,egg/bacon,peas,quick
5,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick

### randomly select 1 moderate/hard recipe

In [28]:
# get recipe count
moderate_ct = df_moderate.shape[0]
moderate_ct

15

In [34]:
rng = np.random.default_rng()
rints = rng.integers(low=0, high=moderate_ct, size=1)
rints[0]

1

In [42]:
print(df_moderate.loc[rints[0]])

index                   12
MealID                  13
MealName        Fried rice
Carb                  rice
Protein                any
Veg         carrots & peas
Ease              moderate
Name: 1, dtype: object

In [51]:
rng = np.random.default_rng()
rints = rng.integers(low=0, high=moderate_ct, size=1)
print(df_moderate.loc[rints[0]])

index                     13
MealID                    14
MealName    Thai green curry
Carb                    rice
Protein                  any
Veg                    mixed
Ease                moderate
Name: 2, dtype: object

Are you happy with this selection?

In [76]:
while True:
    answer = input("Are you happy with this selection? Y or N")
    cap_answer = answer.upper()
    if (cap_answer == 'Y') or (cap_answer == 'N'):
        break

Are you happy with this selection? Y or Nf
Are you happy with this selection? Y or Nd
Are you happy with this selection? Y or Ny

In [101]:
df_moderate.loc[rints[0]].MealID
recipe_list.append(df_moderate.loc[rints[0]].MealID)
recipe_list

[14]

In [92]:
df_this_week = df_moderate[df_moderate['MealID'] == df_moderate.loc[rints[0]].MealID]
df_this_week

   index  MealID          MealName  Carb Protein    Veg      Ease
2     13      14  Thai green curry  rice     any  mixed  moderate

### find the carb of the selected moderate/hard recipe and remove matching easy recipes

In [63]:
#carb_list = []
#carb_list = df_moderate.loc[rints[0]].Carb
carb_list = [df_moderate.loc[rints[0]].Carb]
carb_list

['rice']

In [61]:
s_meal_carbs = pd.Series(carb_list)
s_meal_carbs

0    rice
dtype: object

In [66]:
df_easy = df_easy[df_easy['Carb'] != carb_list[0]]
df_easy.head()

,MealID,MealName,Carb,Protein,Veg,Ease
1,2,Caesar salad,NaN,chicken,salad,quick
2,3,Greek pork chops and salad,potatoes,pork,salad,quick
3,4,Stir-fry,rice/noodles,any,mixed,quick
4,5,Spaghetti carbonera,noodles,egg/bacon,peas,quick
5,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick

In [78]:
easy_ct = df_easy.shape[0]
easy_ct

10

### randomly select 1 easy recipe

In [82]:
rints = rng.integers(low=0, high=easy_ct, size=1)
#rints[0]
df_easy.loc[rints[0]]

MealID                               3
MealName    Greek pork chops and salad
Carb                          potatoes
Protein                           pork
Veg                              salad
Ease                             quick
Name: 2, dtype: object

In [102]:
recipe_list.append(df_easy.loc[rints[0]].MealID)
recipe_list

[14, 3]

### find the carb of the selected easy recipe and remove matching recipes

In [83]:
carb_list.append(df_easy.loc[rints[0]].Carb)
carb_list

['rice', 'potatoes']

In [84]:
carb_list[1]

'potatoes'

In [86]:
#df_easy[df_easy['Carb'] != carb_list[1]]
df_easy = df_easy[df_easy['Carb'] != carb_list[0]]
df_easy.head()

,MealID,MealName,Carb,Protein,Veg,Ease
1,2,Caesar salad,NaN,chicken,salad,quick
2,3,Greek pork chops and salad,potatoes,pork,salad,quick
3,4,Stir-fry,rice/noodles,any,mixed,quick
4,5,Spaghetti carbonera,noodles,egg/bacon,peas,quick
5,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick

### if a fish recipe not selected, remove non-fish meals from easy recipe list

In [107]:
df_next_week = df_meals[(df_meals['MealID'] == recipe_list[0]) | (df_meals['MealID'] == recipe_list[1])]
df_next_week

    MealID                    MealName      Carb Protein    Veg      Ease
2        3  Greek pork chops and salad  potatoes    pork  salad     quick
13      14            Thai green curry      rice     any  mixed  moderate

In [120]:
len(df_next_week[df_next_week['Protein'] == "fish"])

0

In [127]:
if len(df_next_week[df_next_week['Protein'] == "fish"]) == 0:
    print("Choosing a fish recipe")
    df_easy = df_easy[df_easy['Protein'] == "fish"].reset_index()
    
df_easy.head()

Choosing a fish recipe

,index,MealID,MealName,Carb,Protein,Veg,Ease
0,5,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick
1,6,7,Salmon pasta,noodles,fish,broccoli/peas,quick
2,10,11,Fish Tacos,tortillas,fish,avocado,quick

In [124]:
easy_ct = df_easy.shape[0]
easy_ct

3

In [128]:
rints = rng.integers(low=0, high=easy_ct, size=1)
#rints[0]
df_easy.loc[rints[0]]

index               10
MealID              11
MealName    Fish Tacos
Carb         tortillas
Protein           fish
Veg            avocado
Ease             quick
Name: 2, dtype: object

In [ ]:
# if veggie recipe not selected, remove non-veggie meals from easy recipe list

In [7]:
# randomly select 1 easy recipe

In [9]:
# if any recipe is null, start over

In [10]:
# print selected recipes

In [11]:
# prompt user to accept each

In [12]:
# if a recipe is rejected, 
#   1. if moderate/hard receipe rejected, prompt user if prefer an easy one
#   2. recreate new list (so the rejected carb can be selected again) and select another random recipe

In [ ]:
# after 3 recipes generated and accepted, print shopping list