In [29]:
import pandas as pd
import numpy as np

In [30]:
recipe_count = 4

### pull recipes

In [31]:
# xlsx_path = 'C:\Users\Kevin\DS\Dinner Randomizer\meals.xlsx'
xlsx_path = 'meals.xlsx'
df_meals = pd.read_excel(xlsx_path)

In [32]:
df_meals.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
0,1,Falafel,bread,veg,Cucumber,moderate,2
1,2,Caesar salad,bread,chicken,salad,quick,2
2,3,Greek pork chops,potatoes,pork,salad,quick,2
3,4,Stir-fry,rice/noodles,any,mixed,quick,3
4,5,Spaghetti carbonera,noodles,bacon,peas,quick,3

In [33]:
list_col = df_meals.columns.tolist()
#list_col
df_multi = pd.DataFrame(columns=list_col)
df_multi

Empty DataFrame
Columns: [MealID, MealName, Carb, Protein, Veg, Ease, Rating]
Index: []

In [34]:
# loop thru df
for index, row in df_meals.iterrows():
     for i in range(row['Rating']):
            #print(index, row['MealName'], row['Rating'])
            df_multi = df_multi.append(
                {
                    'MealID': row['MealID'], 
                    'MealName': row['MealName'], 
                    'Carb': row['Carb'],
                    'Protein': row['Protein'],
                    'Veg': row['Veg'],
                    'Ease': row['Ease'],
                    'Rating': row['Rating']
                },
                ignore_index=True
            )
            
df_multi.head(10)

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
0,1,Falafel,bread,veg,Cucumber,moderate,2
1,1,Falafel,bread,veg,Cucumber,moderate,2
2,2,Caesar salad,bread,chicken,salad,quick,2
3,2,Caesar salad,bread,chicken,salad,quick,2
4,3,Greek pork chops,potatoes,pork,salad,quick,2
5,3,Greek pork chops,potatoes,pork,salad,quick,2
6,4,Stir-fry,rice/noodles,any,mixed,quick,3
7,4,Stir-fry,rice/noodles,any,mixed,quick,3
8,4,Stir-fry,rice/noodles,any,mixed,quick,3
9,5,Spaghetti carbonera,noodles,bacon,peas,quick,3

In [35]:
df_multi.shape

(78, 7)

### split into sub-lists

In [36]:
df_moderate = df_multi[(df_multi['Ease'] == "moderate") | (df_multi['Ease'] == "complex") | (df_multi['Ease'] == "slow cooker")].reset_index(drop=True)
df_moderate.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
0,1,Falafel,bread,veg,Cucumber,moderate,2
1,1,Falafel,bread,veg,Cucumber,moderate,2
2,14,Thai green curry,rice,any,mixed,moderate,1
3,15,40 clove garlic chicken,potatoes,chicken,any,complex,2
4,15,40 clove garlic chicken,potatoes,chicken,any,complex,2

In [18]:
df_moderate.shape

(29, 7)

In [37]:
df_easy = df_multi[df_multi['Ease'] == "quick"].reset_index(drop=True)
df_easy.head()

  MealID          MealName          Carb  Protein    Veg   Ease Rating
0      2      Caesar salad         bread  chicken  salad  quick      2
1      2      Caesar salad         bread  chicken  salad  quick      2
2      3  Greek pork chops      potatoes     pork  salad  quick      2
3      3  Greek pork chops      potatoes     pork  salad  quick      2
4      4          Stir-fry  rice/noodles      any  mixed  quick      3

In [38]:
df_easy.shape

(51, 7)

In [39]:
df_fish = df_multi[df_multi['Protein'] == "fish"].reset_index(drop=True)
df_fish.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
0,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick,3
1,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick,3
2,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick,3
3,7,Garlic butter salmon pasta,noodles,fish,broccoli/peas,quick,3
4,7,Garlic butter salmon pasta,noodles,fish,broccoli/peas,quick,3

In [40]:
df_fish.shape

(13, 7)

In [41]:
df_veg = df_multi[df_multi['Protein'] == "veg"].reset_index(drop=True)
df_veg.head()

  MealID          MealName   Carb Protein       Veg      Ease Rating
0      1           Falafel  bread     veg  Cucumber  moderate      2
1      1           Falafel  bread     veg  Cucumber  moderate      2
2      8  Black bean bowls   rice     veg   avocado     quick      3
3      8  Black bean bowls   rice     veg   avocado     quick      3
4      8  Black bean bowls   rice     veg   avocado     quick      3

In [42]:
df_multi[df_multi['MealName'] == 'Falafel']

  MealID MealName   Carb Protein       Veg      Ease Rating
0      1  Falafel  bread     veg  Cucumber  moderate      2
1      1  Falafel  bread     veg  Cucumber  moderate      2

### randomly select 1 moderate/hard recipe

In [43]:
# get recipe count
moderate_ct = df_moderate.shape[0]
moderate_ct

27

In [55]:
rng = np.random.default_rng()
rints = rng.integers(low=0, high=moderate_ct, size=1)
print(df_moderate.loc[rints[0]])

MealID                           15
MealName    40 clove garlic chicken
Carb                       potatoes
Protein                     chicken
Veg                             any
Ease                        complex
Rating                            2
Name: 4, dtype: object

In [57]:
df_this_week = df_meals[df_meals['MealID'] == df_moderate.loc[rints[0]].MealID]
df_this_week

    MealID                 MealName      Carb  Protein  Veg     Ease  Rating
14      15  40 clove garlic chicken  potatoes  chicken  any  complex       2

### find the carb of the selected moderate/hard recipe and remove from fish

In [58]:
df_this_week['Carb']

14    potatoes
Name: Carb, dtype: object

In [59]:
#df_easy = df_easy[df_easy['Carb'] != carb_list[0]]
#df_easy = df_easy[df_easy['Carb'] != df_this_week['Carb']]
#df_easy.head()
#df_easy['Carb'].values != df_this_week['Carb'].values
#df_fish[df_fish['Carb'].values != df_this_week['Carb'].values]
df_fish = df_fish[df_fish['Carb'].values != df_this_week['Carb'].values].reset_index(drop=True)
df_fish

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
0,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick,3
1,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick,3
2,6,Asian chili ginger salmon,noodles,fish,broccoli/peas,quick,3
3,7,Garlic butter salmon pasta,noodles,fish,broccoli/peas,quick,3
4,7,Garlic butter salmon pasta,noodles,fish,broccoli/peas,quick,3
5,7,Garlic butter salmon pasta,noodles,fish,broccoli/peas,quick,3
6,11,Fish Tacos,tortillas,fish,avocado,quick,3
7,11,Fish Tacos,tortillas,fish,avocado,quick,3
8,11,Fish Tacos,tortillas,fish,avocado,quick,3
9,18,Creole fish & corn stew,rice,fish,corn,slow cooker,1
10,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3
11,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3
12,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3

In [60]:
fish_ct = df_fish.shape[0]
fish_ct

13

### select 1 fish recipe

In [61]:
rints = rng.integers(low=0, high=fish_ct, size=1)
#rints[0]
#df_fish.loc[1]
df_fish.loc[rints[0]]

MealID                         31
MealName    Salmon egg fried rice
Carb                         rice
Protein                      fish
Veg                carrots & peas
Ease                        quick
Rating                          3
Name: 12, dtype: object

In [62]:
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_fish.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
14,15,40 clove garlic chicken,potatoes,chicken,any,complex,2
30,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3

### remove carb from veg recipes

In [63]:
#df_this_week['Carb'].values
#df_veg['Carb'].values
#df_veg['Carb'].values != df_this_week['Carb'].values
#df_veg['Carb'].isin(df_this_week['Carb'].values)
#condition = df_veg['Carb'].isin(df_this_week['Carb'].values)
#condition
#df_veg[~condition]
#df_veg[~df_veg['Carb'].isin(df_this_week['Carb'].values)]
#df_veg[df_veg['Carb'].values != df_this_week['Carb'].values]
#df_veg = df_veg[df_veg['Carb'].values != df_this_week['Carb'].values]
df_veg = df_veg[~df_veg['Carb'].isin(df_this_week['Carb'].values)]
df_veg

  MealID          MealName    Carb Protein       Veg      Ease Rating
0      1           Falafel   bread     veg  Cucumber  moderate      2
1      1           Falafel   bread     veg  Cucumber  moderate      2
7     27  Quinoa primavera  quinoa     veg     mixed     quick      1

In [64]:
veg_ct = df_veg.shape[0]
veg_ct

3

### select 1 veg recipe

In [65]:
rints = rng.integers(low=0, high=veg_ct, size=1)
df_veg.loc[rints[0]]

MealID             1
MealName     Falafel
Carb           bread
Protein          veg
Veg         Cucumber
Ease        moderate
Rating             2
Name: 0, dtype: object

In [66]:
#df_meals[df_meals['MealID'] == df_fish.loc[rints[0]].MealID]
#df_choice = df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID]
#df_choice
#df_this_week = df_this_week.append(df_choice)
#df_this_week.append(df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID])
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
14,15,40 clove garlic chicken,potatoes,chicken,any,complex,2
30,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3
0,1,Falafel,bread,veg,Cucumber,moderate,2

### randomly select 1 easy recipe

In [68]:
easy_ct = df_easy.shape[0]
rints = rng.integers(low=0, high=easy_ct, size=1)
#rints[0]
df_easy.loc[rints[0]]

MealID                 4
MealName        Stir-fry
Carb        rice/noodles
Protein              any
Veg                mixed
Ease               quick
Rating                 3
Name: 5, dtype: object

In [69]:
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_easy.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease,Rating
14,15,40 clove garlic chicken,potatoes,chicken,any,complex,2
30,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3
0,1,Falafel,bread,veg,Cucumber,moderate,2
3,4,Stir-fry,rice/noodles,any,mixed,quick,3

### if any recipe is null, start over

In [70]:
df_this_week.shape[0]

4

In [71]:
if (df_this_week.shape[0] < recipe_count):
    print("Oops, I need to start over!")
else:
    print(df_this_week['MealName'])

14    40 clove garlic chicken
30      Salmon egg fried rice
0                     Falafel
3                    Stir-fry
Name: MealName, dtype: object

In [ ]:
# print selected recipes

### prompt user to accept recipes

In [ ]:
while True:
    answer = input("Are you happy with this selection? Y or N")
    cap_answer = answer.upper()
    if (cap_answer == 'Y') or (cap_answer == 'N'):
        break

In [ ]:
# if a recipe is rejected, 
#   1. if moderate/hard receipe rejected, prompt user if prefer an easy one
#   2. recreate new list (so the rejected carb can be selected again) and select another random recipe

In [ ]:
# after 3 recipes generated and accepted, print shopping list