In [2]:
import pandas as pd
import numpy as np
import datetime as dt

### constants

In [4]:
recipe_count = 4
# xlsx_path = 'C:\Users\Kevin\DS\Dinner Randomizer\meals.xlsx'
xlsx_path = 'meals.xlsx'
meals_sheet = "meals"
history_sheet = "meal_history"

### fixed variables

In [5]:
week_no = dt.datetime.now().isocalendar()[1]
year_no = dt.datetime.now().isocalendar()[0]

### pull recipes

In [6]:
df_meals = pd.read_excel(xlsx_path, sheet_name=meals_sheet)
df_history = pd.read_excel(xlsx_path, sheet_name=history_sheet)

In [8]:
df_meals.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
1,2,Caesar salad,bread,chicken,salad,quick,2,salad
2,3,Pork chops,potatoes,pork,any,quick,2,NaN
3,4,Stir-fry,rice/pasta,any,mixed,quick,3,Asian
4,5,Spaghetti carbonera,pasta,bacon,peas,quick,3,pasta

In [9]:
df_history.head()

   YearNo  WeekNo  MealID                        MealName
0    2024      27    46.0        Tandoori grilled chicken
1    2024      26    31.0           Salmon egg fried rice
2    2024      26    41.0                           Tacos
3    2024      26    30.0  SpagBol, Spaghetti & meatballs
4    2024      26    32.0                 Jacket potatoes

### meal history

In [10]:
#history_types = ['int64','int64','int64','object']
#history_types = ['int','int','int','string']
#history_types = {'YearNo': np.int32, 'WeekNo': np.int32, 'MealId': np.int32, 'MealName': object} 
#df_history = pd.read_excel(xlsx_path, sheet_name="meal_history")
#df_history = pd.read_excel(xlsx_path, sheet_name="meal_history", dtype=history_types)

In [11]:
if week_no == 1:
    week_list = [51, 52]
    year_list = [year_no - 1]
elif week_no == 2:
    week_list = [52, 1]
    year_list = [year_no - 1, year_no]
else:
    week_list = [week_no - 2, week_no - 1]
    year_list = [year_no]
week_list

[4, 5]

In [12]:
year_list

[2025]

In [13]:
df_history = df_history[df_history['YearNo'].isin(year_list) & df_history['WeekNo'].isin(week_list)]
df_history

     YearNo  WeekNo  MealID                        MealName
111    2025       4    30.0  SpagBol, Spaghetti & meatballs
112    2025       4    38.0                    Veggie chili
113    2025       4    57.0                 Smoked mackerel
114    2025       4    48.0                   Roast chicken
115    2025       5    10.0                         Fajitas
116    2025       5     7.0      Garlic butter salmon pasta
117    2025       5    32.0                 Jacket potatoes
118    2025       5    23.0               Puerto Rican Rice

In [14]:
history_list = df_history['MealID'].tolist()
history_list

[30.0, 38.0, 57.0, 48.0, 10.0, 7.0, 32.0, 23.0]

In [19]:
df_meals[~df_meals['MealID'].isin(history_list)].head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
1,2,Caesar salad,bread,chicken,salad,quick,2,salad
2,3,Pork chops,potatoes,pork,any,quick,2,NaN
3,4,Stir-fry,rice/pasta,any,mixed,quick,3,Asian
4,5,Spaghetti carbonera,pasta,bacon,peas,quick,3,pasta

In [18]:
df_meals = df_meals[~df_meals['MealID'].isin(history_list)]
df_meals.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
1,2,Caesar salad,bread,chicken,salad,quick,2,salad
2,3,Pork chops,potatoes,pork,any,quick,2,NaN
3,4,Stir-fry,rice/pasta,any,mixed,quick,3,Asian
4,5,Spaghetti carbonera,pasta,bacon,peas,quick,3,pasta

### create meal list based on preferences

In [22]:
list_col = df_meals.columns.tolist()
#list_col
df_multi = pd.DataFrame(columns=list_col)
df_multi

Empty DataFrame
Columns: [MealID, MealName, Carb, Protein, Veg, Ease, Rating, MealGroup]
Index: []

In [23]:
# loop thru df
for index, row in df_meals.iterrows():
     for i in range(row['Rating']):
            #print(index, row['MealName'], row['Rating'])
            df_multi = df_multi.append(
                {
                    'MealID': row['MealID'], 
                    'MealName': row['MealName'], 
                    'Carb': row['Carb'],
                    'Protein': row['Protein'],
                    'Veg': row['Veg'],
                    'Ease': row['Ease'],
                    'Rating': row['Rating'],
                    'MealGroup': row['MealGroup']
                },
                ignore_index=True
            )
            
df_multi.head(10)

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
1,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
2,2,Caesar salad,bread,chicken,salad,quick,2,salad
3,2,Caesar salad,bread,chicken,salad,quick,2,salad
4,3,Pork chops,potatoes,pork,any,quick,2,NaN
5,3,Pork chops,potatoes,pork,any,quick,2,NaN
6,4,Stir-fry,rice/pasta,any,mixed,quick,3,Asian
7,4,Stir-fry,rice/pasta,any,mixed,quick,3,Asian
8,4,Stir-fry,rice/pasta,any,mixed,quick,3,Asian
9,5,Spaghetti carbonera,pasta,bacon,peas,quick,3,pasta

In [24]:
df_multi.shape

(105, 8)

### split into sub-lists

In [25]:
df_moderate = df_multi[(df_multi['Ease'] == "moderate") | (df_multi['Ease'] == "complex") | (df_multi['Ease'] == "slow cooker")].reset_index(drop=True)
df_moderate.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
1,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
2,14,Thai green curry,rice,any,mixed,moderate,1,Asian
3,15,40 clove garlic chicken,potatoes,chicken,any,complex,2,NaN
4,15,40 clove garlic chicken,potatoes,chicken,any,complex,2,NaN

In [26]:
df_moderate.shape

(47, 8)

In [27]:
df_easy = df_multi[df_multi['Ease'] == "quick"].reset_index(drop=True)
df_easy.head()

  MealID      MealName        Carb  Protein    Veg   Ease Rating MealGroup
0      2  Caesar salad       bread  chicken  salad  quick      2     salad
1      2  Caesar salad       bread  chicken  salad  quick      2     salad
2      3    Pork chops    potatoes     pork    any  quick      2       NaN
3      3    Pork chops    potatoes     pork    any  quick      2       NaN
4      4      Stir-fry  rice/pasta      any  mixed  quick      3     Asian

In [28]:
df_easy.shape

(50, 8)

In [29]:
df_fish = df_multi[df_multi['Protein'] == "fish"].reset_index(drop=True)
df_fish.head()

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
1,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
2,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
3,11,Fish Tacos,corn,fish,avocado,quick,3,Mexican
4,11,Fish Tacos,corn,fish,avocado,quick,3,Mexican

In [30]:
df_fish.shape

(12, 8)

In [31]:
df_veg = df_multi[df_multi['Protein'] == "veg"].reset_index(drop=True)
df_veg.head()

  MealID          MealName   Carb Protein       Veg      Ease Rating MealGroup
0      1           Falafel  bread     veg  Cucumber  moderate      2   MidEast
1      1           Falafel  bread     veg  Cucumber  moderate      2   MidEast
2      8  Black bean bowls   rice     veg   avocado     quick      3       NaN
3      8  Black bean bowls   rice     veg   avocado     quick      3       NaN
4      8  Black bean bowls   rice     veg   avocado     quick      3       NaN

In [32]:
df_multi[df_multi['MealName'] == 'Falafel']

  MealID MealName   Carb Protein       Veg      Ease Rating MealGroup
0      1  Falafel  bread     veg  Cucumber  moderate      2   MidEast
1      1  Falafel  bread     veg  Cucumber  moderate      2   MidEast

### randomly select 1 moderate/hard recipe

In [33]:
# get recipe count
moderate_ct = df_moderate.shape[0]
moderate_ct

47

In [34]:
rng = np.random.default_rng()
rints = rng.integers(low=0, high=moderate_ct, size=1)
print(df_moderate.loc[rints[0]])

MealID                25
MealName        Carnitas
Carb                corn
Protein             pork
Veg              avocado
Ease         slow cooker
Rating                 3
MealGroup        Mexican
Name: 16, dtype: object

In [35]:
df_this_week = df_meals[df_meals['MealID'] == df_moderate.loc[rints[0]].MealID]
df_this_week

    MealID  MealName  Carb Protein      Veg         Ease  Rating MealGroup
24      25  Carnitas  corn    pork  avocado  slow cooker       3   Mexican

### find the carb of the selected moderate/hard recipe and remove from fish

In [36]:
df_this_week['Carb']

24    corn
Name: Carb, dtype: object

In [37]:
#df_easy = df_easy[df_easy['Carb'] != carb_list[0]]
#df_easy = df_easy[df_easy['Carb'] != df_this_week['Carb']]
#df_easy.head()
#df_easy['Carb'].values != df_this_week['Carb'].values
#df_fish[df_fish['Carb'].values != df_this_week['Carb'].values]
df_fish = df_fish[df_fish['Carb'].values != df_this_week['Carb'].values].reset_index(drop=True)
df_fish

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
1,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
2,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
3,18,Creole fish & corn stew,rice,fish,corn,slow cooker,1,Cajun
4,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3,Asian
5,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3,Asian
6,31,Salmon egg fried rice,rice,fish,carrots & peas,quick,3,Asian
7,40,Salmon & potatoes,potatoes,fish,various,quick,2,NaN
8,40,Salmon & potatoes,potatoes,fish,various,quick,2,NaN

In [38]:
fish_ct = df_fish.shape[0]
fish_ct

9

### select 1 fish recipe

In [39]:
rints = rng.integers(low=0, high=fish_ct, size=1)
#rints[0]
#df_fish.loc[1]
df_fish.loc[rints[0]]

MealID                               6
MealName     Asian chili ginger salmon
Carb                             pasta
Protein                           fish
Veg                      broccoli/peas
Ease                             quick
Rating                               3
MealGroup                        Asian
Name: 2, dtype: object

In [40]:
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_fish.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
24,25,Carnitas,corn,pork,avocado,slow cooker,3,Mexican
5,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian

### remove carb from veg recipes

In [41]:
#df_this_week['Carb'].values
#df_veg['Carb'].values
#df_veg['Carb'].values != df_this_week['Carb'].values
#df_veg['Carb'].isin(df_this_week['Carb'].values)
#condition = df_veg['Carb'].isin(df_this_week['Carb'].values)
#condition
#df_veg[~condition]
#df_veg[~df_veg['Carb'].isin(df_this_week['Carb'].values)]
#df_veg[df_veg['Carb'].values != df_this_week['Carb'].values]
#df_veg = df_veg[df_veg['Carb'].values != df_this_week['Carb'].values]
df_veg = df_veg[~df_veg['Carb'].isin(df_this_week['Carb'].values)]
df_veg

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
0,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
1,1,Falafel,bread,veg,Cucumber,moderate,2,MidEast
2,8,Black bean bowls,rice,veg,avocado,quick,3,NaN
3,8,Black bean bowls,rice,veg,avocado,quick,3,NaN
4,8,Black bean bowls,rice,veg,avocado,quick,3,NaN
5,19,Cajun Mixed Bean Soup,rice,veg,any,slow cooker,1,Cajun
6,20,Mid East lentils & peppers,rice,veg,peppers,slow cooker,1,MidEast
7,27,Quinoa primavera,quinoa,veg,mixed,quick,1,NaN
8,50,Bean and cheese enchiladas,bread,veg,avocado,quick,1,Mexican
9,52,Thai coconut tofu,rice,veg,mixed,quick,1,Asian
10,53,Chickpea curry,rice,veg,spinach,quick,2,rice and beans
11,53,Chickpea curry,rice,veg,spinach,quick,2,rice and beans

In [42]:
veg_ct = df_veg.shape[0]
veg_ct

12

### select 1 veg recipe

In [43]:
rints = rng.integers(low=0, high=veg_ct, size=1)
df_veg.loc[rints[0]]

MealID                          19
MealName     Cajun Mixed Bean Soup
Carb                          rice
Protein                        veg
Veg                            any
Ease                   slow cooker
Rating                           1
MealGroup                    Cajun
Name: 5, dtype: object

In [44]:
#df_meals[df_meals['MealID'] == df_fish.loc[rints[0]].MealID]
#df_choice = df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID]
#df_choice
#df_this_week = df_this_week.append(df_choice)
#df_this_week.append(df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID])
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_veg.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
24,25,Carnitas,corn,pork,avocado,slow cooker,3,Mexican
5,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
18,19,Cajun Mixed Bean Soup,rice,veg,any,slow cooker,1,Cajun

### randomly select 1 easy recipe

In [45]:
easy_ct = df_easy.shape[0]
rints = rng.integers(low=0, high=easy_ct, size=1)
#rints[0]
df_easy.loc[rints[0]]

MealID                            24
MealName     Chorizo rice w/ lentils
Carb                            rice
Protein                         pork
Veg                              NaN
Ease                           quick
Rating                             2
MealGroup             rice and beans
Name: 27, dtype: object

In [46]:
df_this_week = df_this_week.append(df_meals[df_meals['MealID'] == df_easy.loc[rints[0]].MealID])
df_this_week

,MealID,MealName,Carb,Protein,Veg,Ease,Rating,MealGroup
24,25,Carnitas,corn,pork,avocado,slow cooker,3,Mexican
5,6,Asian chili ginger salmon,pasta,fish,broccoli/peas,quick,3,Asian
18,19,Cajun Mixed Bean Soup,rice,veg,any,slow cooker,1,Cajun
23,24,Chorizo rice w/ lentils,rice,pork,NaN,quick,2,rice and beans

### if any recipe is null, start over

In [47]:
df_this_week.shape[0]

4

In [58]:
if (df_this_week.shape[0] < recipe_count):
    print("Oops, I need to start over!")
else:
    for index, row in df_this_week.iterrows():
        print(row['MealName'])

Carnitas
Asian chili ginger salmon
Cajun Mixed Bean Soup
Chorizo rice w/ lentils

In [66]:
#from tabulate import tabulate
#print(tabulate(df_this_week, headers = 'keys', tablefmt = 'psql'))

ModuleNotFoundError: No module named 'tabulate'

In [67]:
df_this_week.style

In [68]:
if (df_this_week.shape[0] < recipe_count):
    print("\nNot enough recipes. Now starting over.")
else:
    # print selected recipes
    print("\n*************** Meals selected for next week ***************")
    print(df_this_week[['MealID','MealName']])
    print("\n************************************************************")

*************** Meals selected for next week ***************
    MealID                   MealName
24      25                   Carnitas
5        6  Asian chili ginger salmon
18      19      Cajun Mixed Bean Soup
23      24    Chorizo rice w/ lentils

************************************************************

In [70]:
print(df_this_week[['MealID','MealName']].to_string(index=False))

 MealID                   MealName
     25                   Carnitas
      6  Asian chili ginger salmon
     19      Cajun Mixed Bean Soup
     24    Chorizo rice w/ lentils

### prompt user to accept recipes

In [50]:
while True:
    answer = input("Are you happy with this selection? Y or N")
    cap_answer = answer.upper()
    if (cap_answer == 'Y') or (cap_answer == 'N'):
        break

Are you happy with this selection? Y or Ny

In [51]:
# if a recipe is rejected, 
#   1. if moderate/hard receipe rejected, prompt user if prefer an easy one
#   2. recreate new list (so the rejected carb can be selected again) and select another random recipe

In [52]:
# after 3 recipes generated and accepted, print shopping list

In [53]:
# after recipes accepted, save to history

In [61]:
for index, row in df_this_week.iterrows():
    print(row['MealName'])
    answer = input ("Are you happy with this choice? Enter Y/N")

Carnitas
Are you happy with this choice? Enter Y/Ny
Asian chili ginger salmon
Are you happy with this choice? Enter Y/Ny
Cajun Mixed Bean Soup
Are you happy with this choice? Enter Y/Ny
Chorizo rice w/ lentils
Are you happy with this choice? Enter Y/Ny

In [71]:
while True:
    answer = input("Are you happy with these selections? Y or N")
    cap_answer = answer.upper()
    if (cap_answer == 'Y'):
        break
    elif (cap_answer == 'N'):
        while True:
            answer2 = input("Which choice would you like to replace? (enter 1 at a time)")
            answer2
            break

Are you happy with these selections? Y or Nn
Which choice would you like to replace? (enter 1 at a time)25
Are you happy with these selections? Y or Ny